<!doctype html>
<html lang="en">
{% extends 'banner.html' %}
{% load static %}
<style>
    .testCss1 {
      border: black;
      background-color: deepskyblue;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->

  <style type="text/css">
    /* Chart.js */
    @keyframes chartjs-render-animation {
      from {
        opacity: .99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
      position: absolute;
      direction: ltr;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      z-index: -1
    }

    .chartjs-size-monitor-expand>div {
      position: absolute;
      width: 1000000px;
      height: 1000000px;
      left: 0;
      top: 0
    }

    .chartjs-size-monitor-shrink>div {
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0
    }
  </style>
 
{% block title %} MOIM : 모두의 임플란트 {% endblock %}


<body>
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-1 d-md-block sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'subApp1:seoul_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                서울
              </a>
              <a class="nav-link" href="{% url 'subApp1:Busan_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                부산
              </a>
              <a class="nav-link" href="{% url 'subApp1:Daegu_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                대구
              </a>
              <a class="nav-link" href="{% url 'subApp1:Daejeon_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                대전
              </a>
              </a><a class="nav-link" href="{% url 'subApp1:Sejong_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                세종
              </a>
              <a class="nav-link" href="{% url 'subApp1:Incheon_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                인천
              </a>
              <a class="nav-link" href="{% url 'subApp1:Gwangju_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                광주
              </a>
              <a class="nav-link" href="{% url 'subApp1:Ulsan_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                울산
              </a>
              <a class="nav-link" href="{% url 'subApp1:Gg_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                경기
              </a>
              <a class="nav-link" href="{% url 'subApp1:Gangwon_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                강원
              </a>
              <a class="nav-link" href="{% url 'subApp1:Chungbuk_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                충북
              </a>
              <a class="nav-link" href="{% url 'subApp1:Chungnam_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                충남
              </a>
              <a class="nav-link" href="{% url 'subApp1:Gb_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                경북
              </a>
              <a class="nav-link" href="{% url 'subApp1:Gn_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                경남
              </a>
              <a class="nav-link" href="{% url 'subApp1:Jb_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                전북
              </a><a class="nav-link" href="{% url 'subApp1:Jn_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                전남
              </a>
              </a><a class="nav-link" href="{% url 'subApp1:Jeju_page' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers" aria-hidden="true">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                제주
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-10 bg-light">
        <br><br><br>
        <div class="row">
          <div class="col-md-2">
            <!-- h3 style="margin:30px 0px 0px 30px;">MOIM</h3>
               <p style="margin:0px 0px 30px 30px;">모든 임플란트</p-->
          </div>
          <div class="col-md-8">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="padding:70px 0px 30px 0px">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
              aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
              class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
              class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#000069"></rect>
                <image x="0" y="0" height="100%" width="100%" xlink:href="{% static 'img/Banner/Banner_01.png' %}" />
              </svg>

            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#000069"></rect>
                <image x="0" y="0" height="100%" width="100%" xlink:href="{% static 'img/Banner/Banner_02.png' %}" />
              </svg>


            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#000069"></rect>
                <image x="0" y="0" height="100%" width="100%" xlink:href="{% static 'img/Banner/Banner_03.png' %}" />
              </svg>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <br><br>
          <div class="container marketing" align="center" style="padding:0px 0px 40px 0px">
            <div class="row">
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="135" xlink:href="{% static 'img/Osstem_brand.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:osstem_page' %}" >오스템</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="10" y="10" height="100" width="100" xlink:href="{% static 'img/Dentium.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:dentium_page' %}" >덴티움</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="120" xlink:href="{% static 'img/Neo.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary"  href="{% url 'brandApp:neo_page' %}">네오</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="5" y="10" height="100" width="110" xlink:href="{% static 'img/Dio.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:dio_page' %}">디오</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="120" xlink:href="{% static 'img/Dentis.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:dentis_page' %}">덴티스</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="120" xlink:href="{% static 'img/MegaGen.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:megagen_page' %}">메가젠</a></p>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="120" xlink:href="{% static 'img/IBS.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:ibs_page' %}">IBS</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="120" xlink:href="{% static 'img/Henry_Schein.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary"href="{% url 'brandApp:henry_page' %}">헨리샤인</a>
                </p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="5" y="10" height="100" width="110" xlink:href="{% static 'img/Straumann.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:straumann_page' %}">스트라우만</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="110" xlink:href="{% static 'img/Envista.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary"href="{% url 'brandApp:envista_page' %}">엔비스타</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="5" y="10" height="100" width="110" xlink:href="{% static 'img/Dentsply_Sirona.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:dentsply_page' %}">덴츠플라이시로나</a></p>
              </div>
              <div class="col-lg-2">
                <svg class="bd-placeholder-img rounded-circle" width="120" height="120"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="white"></rect>
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                  <image x="0" y="10" height="100" width="120" xlink:href="{% static 'img/Zimmer_Biomet.png' %}" />
                </svg>
                <h2></h2>
                <p><a class="btn btn-outline-secondary" href="{% url 'brandApp:zimmer_page' %}">짐머바이오메트</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <svg xmlns="http://www.w3.org/2000/svg" width="1140" height="500" viewBox="0 0 1140 500" preserveAspectRatio="none"
      style="visibility: hidden; position: absolute; top: -100%; left: -100%;">
      <defs></defs>
      <text x="0" y="53"
        style="font-weight:bold;font-size:53pt;font-family:Arial,Helvetica, Open Sans, sans-serif;dominant-baseline:middle">Thirdslide</text>
    </svg>
</body>

</html>