
<!doctype html>
<html lang="en">


<head>

 <!-- canvas -->
 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 
 <style type="text/css">/* Chart.js */
 @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}
 .chartjs-render-monitor{animation:chartjs-render-animation 1ms}
 .chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}
 .chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}
 .chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
 </style>

 
 <!-- Bootstrap core CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
     <!-- canvas src -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       


</head>


<body>
  {% block content %}


  <div class="col-md-12 bg-light" align="center">


    <div class="col-md-10">
      <br><br><br>
      <h1 class="h2" style="font-family: 'Black Han Sans', sans-serif; font-size:40px">지역별 차트 (비급여 정보)</h1>
      <div class="container" align="right">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-calendar" aria-hidden="true">
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
          </svg>
          2021
        </button>
      </div>


      <div class="container" align="center">
        <div class="form-group">
          <br>
          <canvas id="myCanvas" style="border:1px solid #c3c3c3; width: 90%;"></canvas>
          <br>
          <br><br>
          <hr>
        </div>
      </div>
      <br><br>
      <h2 style="font-family: 'Black Han Sans', sans-serif; font-size:40px">지역 구분</h2><br>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" align="center">번호</th>
              <th scope="col" align="center">지역</th>
              <th scope="col">최저 비용(원)</th>
              <th scope="col">비급여비용(평균/원)</th>
              <th scope="col">최고 비용(원)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>서울</td>
              <td>405,000</td>
              <td>1,432,156</td>
              <td>7,332,857</td>
            </tr>
            <tr>
              <td>2</td>
              <td>부산</td>
              <td>571,428</td>
              <td>1,332,964</td>
              <td>2,771,428</td>
            </tr>
            <tr>
              <td>3</td>
              <td>대구</td>
              <td>712,857</td>
              <td>1,394,810</td>
              <td>2,690,485</td>
            </tr>
            <tr>
              <td>4</td>
              <td>대전</td>
              <td>732,857</td>
              <td>1,346,076</td>
              <td>2,414,285</td>
            </tr>
            <tr>
              <td>5</td>
              <td>세종</td>
              <td>1,043,714</td>
              <td>1,463,705</td>
              <td>2,284,857</td>
            </tr>
            <tr>
              <td>6</td>
              <td>인천</td>
              <td>555,714</td>
              <td>1,304,130</td>
              <td>3,194,022</td>
            </tr>
            <tr>
              <td>7</td>
              <td>광주</td>
              <td>591,428</td>
              <td>1,336,362</td>
              <td>2,656,342</td>
            </tr>
            <tr>
              <td>8</td>
              <td>울산</td>
              <td>917,142</td>
              <td>1,372,807</td>
              <td>2,214,285</td>
            </tr>
            <tr>
              <td>9</td>
              <td>경기</td>
              <td>428,571</td>
              <td>1,342,567</td>
              <td>3,571,428</td>
            </tr>
            <tr>
              <td>10</td>
              <td>강원</td>
              <td>731,428</td>
              <td>1,389,994</td>
              <td>2,814,285</td>
            </tr>
            <tr>
              <td>11</td>
              <td>충북</td>
              <td>721,428</td>
              <td>1,335,385</td>
              <td>2,214,285</td>
            </tr>
            <tr>
              <td>12</td>
              <td>충남</td>
              <td>775,714</td>
              <td>1,387,285</td>
              <td>3,271,285</td>
            </tr>
            <tr>
              <td>13</td>
              <td>경북</td>
              <td>740,000</td>
              <td>1,305,989</td>
              <td>2,242,857</td>
            </tr>
            <tr>
              <td>14</td>
              <td>경남</td>
              <td>618,571</td>
              <td>1,333,574</td>
              <td>2,906,000</td>
            </tr>
            <tr>
              <td>15</td>
              <td>전북</td>
              <td>768,571</td>
              <td>1,388,107</td>
              <td>2,411,428</td>
            </tr>
            <tr>
              <td>16</td>
              <td>전남</td>
              <td>684,285</td>
              <td>1,250,161</td>
              <td>2,671,428</td>
            </tr>
            <tr>
              <td>17</td>
              <td>제주</td>
              <td>955,571</td>
              <td>1,395,575</td>
              <td>1,900,000</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


    {% endblock %}
</body>


<!-- 차트 -->
<script>
  var ctx = document.getElementById('myCanvas');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['서울', '부산', '대구', '대전', '세종', '인천', '광주', '울산', '경기', '강원', '충북', '충남', '경북', '경남', '전북', '전남', '제주'],
      datasets: [{
        label: '비급여 평균/원', data: [1432156, 1332964, 1394810, 1346076, 1463705, 1304130, 1336362, 1372807, 1342567, 1389994, 1335385, 1387285, 1305989, 1333574, 1388107, 1250161, 1395575],
        backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
        borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)', 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });</script>



</html>