{% extends 'banner.html' %}
{% load widget_tweaks %}

{% block title %}login.html{% endblock %}

{% block extra-script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c998a172fe.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<form action="." method="post" class="card-group" align="center">{% csrf_token %}
<div class="col-md-12" align="center">
    <div class="col-md-10">
        <h1 style="font-family: 'Black Han Sans', sans-serif; font-size:40px">로그인</h1>
        <p class="font-italic">아이디와 패스워드를 입력해주세요</p>

        {% if form.errors %}
        <div class="alert alert-danger">
            <div class="font-weight-bold">올바른 값을 입력해 주세요</div>
            {{ form.errors }}
        </div>
        {% endif %}
        
        <div class="container">
            <div class="col-md-3" align="center">
                <div class="row">
                    <table align="center" height="40" width="100" border="0">
                        <tr>
                            <div class="col-md-2">
                                <td align="center">{{ form.username|add_label_class:"col-form-label col-md-10 font-weight-bold" }}</td>
                            </div>
                            <div class="col-md-1">
                                <td align="center">{{ form.username|add_class:"form-control"|attr:"autofocus" }}</td>
                            </div>
                        </tr>
                    </table>
                    <table align="center" height="40" width="100" border="0">
                        <tr>
                            <div class="col-md-2">
                                <td align="center">{{ form.password|add_label_class:"col-form-label col-md-10 font-weight-bold" }}</td>
                            </div>
                            <div class="col-md-2">
                                <td align="center">{{ form.password|add_class:"form-control" }}</td>
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table align="center" height="50" width="100" border="0">
                        <tr>
                            <td>
                                <button class="btn btn-lg btn-primary btn-block" type="submit"
                                    style=" width:100px; height:60px; border-radius:5px; text-align:center; font-size:20px" value = {{next}}>Sign in</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div> 
</div>
</form>
{% endblock %}

<!-- <form action="." method="post" class="card-group" align="center">{% csrf_token %}

        <div class="form-group row">
            <div class="col-md-2">
            {{ form.username|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            </div>
            <div class="col-md-4">
                {{ form.username|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
            {{ form.password|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            </div>
            <div class="col-md-4">
                {{ form.password|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-2 col-sm-5">
                <input type="submit" value="로그인" class="btn btn-info"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>

    </form> -->

